<div class="col-12 pt-0 pb-0 pl-0 pr-0">

    <div class="col-12 m-0 pt-0 pl-0 pr-0 pb-2" style="text-align: right;">

        <button [disabled] = "reason ==''" class="btn btn-danger pt-1 pb-1 pl-2 pr-2" (click)="rejectVoucher()"><i class="fa fa-close"></i> Confirm Reject</button>

    </div>

    <div class="col-12" style=" max-height: 500px; overflow-y: scroll;">


        
    
        
     
        <div class="col-12 p-0 m-0">
            
                <div class="col-12 pl-0 pr-0 pb-0 pt-1 m-0" style="background-color: #fff;">
        
                    <div class="col-12 p-0 m-0 card " style="border: 1px solid #ccc;">
                
                        <div class="card-header p-2 clearfix" style="height: 30px; border: 1px solid #ccc; background-color: #138496;">
                            <h4 class="myCustomTitle pt-1"><i style="font-size: 14px;" class="fa fa-align-justify"></i>  Confirm Reject</h4>
                        </div>
                    
                       
        
                        <div class="card-body pl-0 pr-4 pt-2">
    
                            <div class="col-12 p-0 m-0" style="z-index: 99;">
    
                                <div class="col-6 p-0 m-0" style="float: left;">
                                    <h6 class="myCustomTitle p-4" style="font-size: 18px; color: #138496;">Voucher No: {{vNo}}</h6> 
                                </div>
    
                                <div class="col-6 p-0 m-0" style="float: left;">
                                    <h6 class="myCustomTitle pl-0 pr-0 pt-4 pb-0 m-0" style="font-size: 18px; color: #138496;">Reson *</h6> 
                                    <textarea type="text" class="col-12 p-0 m-0" [(ngModel)] = "reason" style="min-height: 80px;"> </textarea>
                                </div>
    
                            </div>
                        </div>
                
                
                    </div>
                
                </div>
            
        
        </div>
    

    </div>

    


</div>



